* {
    margin: 0;
    padding: 0;
}

#pageContent {
    max-width: 900px;
    margin: 20px auto;
}

#pageContent table {
    border: 1px solid #ccc;
    text-align: left;
    border-collapse: collapse;
}

#pageContent table tr{
    border-bottom: 1px solid #ccc;
}

#pageContent table th, #pageContent table td {
    padding: 10px;
}

input {
    width: 100%;
    padding:20px;
  }

  .search-form {
    max-width:400px;
    margin:50px auto;
  }

  input.search {
    margin: 0;
    text-align: center;
    outline:0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  }